{% extends 'dash_base.html' %} 
{%block body%}
<div class="d-flex align-items-center justify-content-center col-sm-10" style="height: 100vh;" >
    <div class="border border-dark bg-white p-4" style="min-width: 70%;">
    <form method = "POST">
        <div class="form-group">
            <p>by requesting an Appointment, the doctor will be able to view patient profile</p>
            <label for="date">Date</label>
            <input type="date" class="form-control" id="exampleInputEmail1" name="date">
            </div>
            <label for="time">Time</label>
            <input type="time" class="form-control" id="exampleInputEmail1" name="time">
            
            
        <button type="submit" class="btn btn-dark btn-block">Request Appointment</button>
    </form>
</div>

</div>

















{%endblock%}