{% extends 'dash_base.html' %} 

{% block body %}
<div class="col-sm-10">
    <div class="row bg-light mt-5 "> 
        <div class="col-md-4 col-sm-2">
          <a href="cardio">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/heart.jpg" alt="" style="width: 100px;">
              <h4 >Cardiology</h4>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-2">
          <a href="neuro">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/brain.jpg" alt="" style="width: 100px;">
              <h4 >Neurology</h4>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-2">
          <a href="ortho">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/bone.png" alt="" style="width: 100px;">
              <h4 >Orthopedics</h4>
            </div>
          </a>
        </div>
      </div> 
      <div class="row bg-light mt-5 "> 
        <div class="col-md-4 col-sm-2">
          <a href="peds">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/pedes.png" alt="" style="width: 100px;">
              <h4 >Pedriatric</h4>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-2">
          <a href="plastics">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/plastics.png" alt="" style="width: 100px;">
              <h4 >Plastcis</h4>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-2">
          <a href="gynocology">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/gynacology.png" alt="" style="width: 100px;">
              <h4 >Gynacology</h4>
            </div>
          </a>
        </div>
      </div> 
      <div class="row bg-light mt-5 "> 
        <div class="col-md-4 col-sm-2">
          <a href="urology">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/heart.jpg" alt="" style="width: 100px;">
              <h4 >Urology</h4>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-2">
          <a href="dermatology">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/dermatology.jpg" alt="" style="width: 100px;">
              <h4 >Dermatology</h4>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-2">
          <a href="general-surgery">
            <div class="d-flex flex-column align-items-center">
              <img src="/static/gen-sur.jpg" alt="" style="width: 100px;">
              <h4 >General Surgery</h4>
            </div>
          </a>
        </div>
      </div> 
</div>
{%endblock%}